body {
    font: 400 18px helvetica,sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 50px;
    background: #222;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #book {
    display: flex;
    background-color: red;
    border: solid black 2px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 600px;
    overflow: auto; 
  }
  
  li:before {
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 0;
  }

  #comment {
    float: right;
  }

  #textArea {
    float: right;
  }

  #submitButton {
    float: right;
  }
  
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    min-width: 250px;
    min-height: 60px;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    background-color: blue;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-style: solid;
    color: white;
}

nav a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}
  
.header-links {
  display: flex;
  flex-wrap: wrap;
}

.header-links a {
  flex-grow: 1;
}